#help {
    background: var(--theme-blue-dark);
    padding: 1rem;
    overflow: hidden;
}

#help > div {
    overflow-y: scroll;
    height: 100%;
    border-radius: 2.5px;
}

#help button {
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 1rem;
    cursor: pointer;
}

#help .active > h3 {
    color: var(--theme-yellow)!important;
}

#help article {
    display: none;
}

#help article:first-of-type {
    display: block;
}

#help h2 {
    margin-top: 0;
}

#help code {
    max-width: 100%;
    background: var(--theme-blue);
    border-radius: 5px;
}

.help__list {
    padding: 0;
    list-style: none;
}

.help__list li {
    margin-bottom: 3rem;
}

#help h2 { 
    color: var(--theme-yellow);
}

#help h3 { 
    color: var(--theme-orange);
}

#help h4 { 
    color: var(--theme-mauve);
}